@import "https://js.arcgis.com/4.9/esri/css/main.css";

.viewDiv {

    filter : blur(0px);
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
  /*  pointer-events: none;*/
    z-index:1;
}
