.htmlcard {

    background-color: rgba(0, 67, 255, 0.00);
    color: #fffefbd4 !important;
    padding : 3vh;
    /*word-break: break-all;*/

}

.htmlcard h3 {
    color: #fffefbd4;
    font-size: 180%;
    line-height: 1.1em;
}



.htmlcard h2 {
    color: #fffefbd4;
    font-size: 16vw;
    line-height: 1.1em;

}




.htmlcard h1 {
    color: #fffefbd4;
    font-size: 25vw;
    line-height: 1.1em;
    text-align: center;

}